<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>注文履歴詳細</h4>
    </div>
  </div>
  
    
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>購入者</th>
            <th><%= @order.name %></th>
          </tr>
          <tr>
            <th>注文日</th>
            <th><%= @order.create_at %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= @order.address %></th>
          </tr>
          <tr>
            <th>支払方法</th>
            <th><%= @order.payment_method %></th>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <th><%= @order.is_active %></th>
            <th><%= link_to "更新", admin_order_path(@order.id), class: "btn btn-success" %></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
      
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                <%= order_detail.item.price %>
              </td>
              <td>
                <%= order_detail.quantity %>
              </td>
              <td>
                <%= order_detail.quantity * order_detail.item.price %>
              </td>
              <td>
                <%= order_detail.is_active %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
