<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>注文履歴詳細</h4>
    </div>
  </div>
  
    
  <div class="row">
    <div class="col-10">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>購入者</th>
            <th><%= @order.name %></th>
          </tr>
          <tr>
            <th>注文日</th>
            <th><%= l @order.created_at %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= @order.address %></th>
          </tr>
          <tr>
            <th>支払方法</th>
            <th><%= @order.payment_method_i18n %></th>
          </tr>
          <tr>
            <%= form_with model: @order, url: admin_order_path(@order.id), local: true, method: :PATCH do |f| %>
              <th><%= f.label :is_active, "注文ステータス" %></th>
              <th><%= f.select :is_active, options_from_collection_for_select(@orders, :id, :is_active_i18n) %></th>
            <!--<th>注文ステータス</th>-->
            <!--<th><%#= @order.is_active %></th>-->
              <th><%= f.submit "更新", class: "btn btn-success" %></th>
            <% end %>
          </tr>
        </thead>
      </table>
    </div>
  </div>
      
  <div class="row">
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                <%= order_detail.item.price %>
              </td>
              <td>
                <%= order_detail.quantity %>
              </td>
              <td>
                <%= order_detail.quantity * order_detail.item.price %>
              </td>
              <td>
                <%= form_with model: @order_detail, url: admin_order_detail_path(order_detail.id), local: true, method: :PATCH do |f| %>
                  <%#= f.radio_button :is_active %>
                  <%#= f.label :is_active, "製作ステータス" %>
                  <%= f.select :is_active, options_from_collection_for_select(@order_details, :id, :is_active_i18n) %>
                  <%#= order_detail.is_active %>
                  <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="col-3 d-flex align-items-end">
      <table>
        <tr>
          <th>商品合計</th>
          <td>
            <% @order.order_details.each do |order_detail| %>
              <% @total_price += order_detail.quantity * order_detail.item.price %>
            <% end %>
            <%= @total_price %>円
          </td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td>
            <%= @order.postage + @total_price %>円
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
