<div class="container">
  <div class="row">
    <div class="col-2 mt-5 border">
      <table>
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
         <% @genres.each do |genre| %>
         <tr>
           <td>
             <%= genre.name %>
           </td>
         </tr>
         <% end %>
        </tbody>
      </table>
    </div>  
    
    <div class="col-4 mt-5 ml-4">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "250x180" %>
      <% else %>
        <%= image_tag 'no_image.jpeg', size: "250x180" %>
      <% end %>
      <%#= image_tag @item.image, size: "250x180" %>
    </div>
    
    <div class="col-5 mt-5">
     <table>
       <tbody>
         <tr>
           <th>
             <h2>
               <%= @item.name %>
             </h2>
           </th>
         </tr>
         <tr>
           <th>
             <p class="my-2">
               <%= @item.introduction %>
             </p>
             
           </th>
         </tr>
         <tr>
           <th>
             <p class="my-2">
               ¥<%= @item.price.to_s(:delimited) %>(税込)
             </p>
             
           </th>
         </tr>
       </tbody>
     </table>
     <%= form_with url: cart_items_path, model: @cart_item, local: true, method: :POST do |f| %>
       <%= f.hidden_field :item_id, :value => @item.id %>
       <%= f.select :amount,*[1..10], include_blank: '個数選択' %>
       <%= f.submit "カートに入れる", class: "btn btn-success" %>
     <% end %>
    </div>
  </div>
</div>
